* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utils */
.container{
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}


/* debug */
.bordered-box{
    border: 2px dashed black;
}


/* Header */
#header-container{
    background-color:#0084fd;
    height: 50px;
    display: flex;
    align-content: center;
}
.header-box{
    display: flex;
    align-items: center;
    color: white;
}

/* Main */



/* 1st Section */
.intro-cardbox{
    width: 100%;
    background-color: #b5ddff;
    border: 1px solid #b5ddff;
    margin: 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.intro-textbox{
    margin: 15px auto;
}
.intro-img-box{
    width: 100%;
    height: 50%;
}

/* 2nd Section */
