* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utils */
.container{
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.m-top-50{
    margin-top: 50px;
}


/* debug */
.bordered-box{
    border: 2px dashed black;
}


/* Header */
#header-container{
    background-color:#0084fd;
    height: 50px;
    display: flex;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-box{
    display: flex;
    align-items: center;
    color: white;
}
header nav{
    padding: 0 20px;
}
.desktop-option{
    display: none;
}

/* Main */

section:nth-child(even){
    background-color: #9792e4;
}

/* 1st Section */
.intro-cardbox{
    width: 100%;
    background-color: #b5ddff;
    border: 1px solid #b5ddff;
    border-radius: 15px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.intro-textbox{
    margin: 15px auto;
    text-align: center;
}
.intro-img-box{
    width: 100%;
    height: 50%;
}

/* 2nd Section */
.strategic-textbox{
    margin: 20px 20px;
}
.strategic-cardbox{
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* 3rd Section */
.testimonial-cardbox{
    margin: 20px auto;
    text-align: center;
}
.testimonial-card{
    width: 100%;
    margin: 20px auto;
    border: 1px solid #9792e4;
    border-radius: 15px;
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
}

/* 4th Section */
#benefit-title{
    width: 100%;
    margin: 20px 20px;
}
.benefit-cardbox{
    width: 100%;
    margin: 20px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/* 5th Section */
.about-us-box{
    width: 100%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.about-us-imgbox{
    width: 100%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}

/* 6th Section */
.get-started-box{
    width: 100%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Footer */

#footer-container{
    width: 100%;
    background-color: black;
    color: white;
}
#footer-container div{
    margin: 0 auto;
}


/* RESPONSIVE */

/* TABLET */
@media screen and (min-width: 576px) {
    .container{
        width: 100%;
    }

    /*1st section*/
    .intro-cardbox:not(:first-of-type){
        width: calc(100% / 3 - 40px);
    }
    .intro-cardbox:first-of-type{
        width: calc(2 * 100% / 3 - 40px);
    }

    /*3rd section*/
    .testimonial-cardbox{
        width: 100%;
        margin: 20px 20px;
    }

    /*4th section*/
    .benefit-cardbox{
        width: calc(50% - 40px);
    }

    /*5th section*/
    .about-us-box{
        width: calc(50% - 40px);
    }
    .about-us-imgbox{
        width:calc(50% - 40px);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .desktop-option{
        display: block;
    }
    .small-option{
        display: none;
    }
}